<form>
  <div class="form-group">
    <label for="platform">Platform:</label>
    <select class="form-control" id="platform" [(ngModel)]="selectedPlatform" [ngModelOptions]="{standalone: true}" (change)="filterGames()">
      <option *ngFor="let platform of platforms" [value]="platform">{{ platform }}</option>
    </select>
  </div>
</form>

<div class="row">
  <div class="col-4" *ngFor="let game of games">
    <div class="card mb-3">
      <img class="card-img-top" [src]="game.thumbnail" alt="Game Thumbnail">
      <div class="card-body">
        <h5 class="card-title">{{ game.title }}</h5>
        <p class="card-text">{{ game.short_description }}</p>
      </div>
    </div>
  </div>
</div>
